:root { 
  --background-color: #006d5b;
  --text-color: white;
  --primary-color: #F0F1F3;
  --body-background: #f0ebeb;
  --accent-color: #a91b0d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--body-background);
}
. h2{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
}
header, footer {
  color: var(--primary-color);
  width: 80%;
  max-width: 640px;
  text-align: center;
  background-color: var(--background-color);
  margin: 0; 
}
.data{
  border-bottom: 10px solid var(--accent-color);
  width: 216%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto; 
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
}

.hero img {
  max-width: 100%;
  height: auto;
}

.container, .section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container dl, .section dl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container dl div, .section dl div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.container dt, .container dd, .section dt, .section dd {
  margin: 0;
  padding: 0 5px;
  flex: 1;
  text-align: center;
}

.container dt, .section dt {
  font-weight: bold;
  max-width: 200px;
}

.container dd, .section dd {
  text-align: center;
}

header::after {
  content: "";
  display: block;
  height: 20px;
  background-color: var(--accent-color);
}

.main-footer-gap {
  height: 20px;
  width: 80%;
  max-width: 640px;
  background-color: var(--accent-color);
}
.weather-icon {
  width: 80px;
  height: auto;
  display: block;
  margin: 10px auto;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
